<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<title>Mongoose Scraper</title>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
	<div class="container">

		{{{ body }}}

	</div>
</body>

</html>